.contact-info-container {
  flex-grow: 1;
  font-family: $montserrat;
  color: azure;
  font-weight: 900;
}
.contact-info-container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  img {
    margin-right: 1rem;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    border: 0.1em solid azure;
  }
}

.friend-contact-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  .friend-contact-name {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }
  .friend-contact-status {
    text-align: center;
    font-size: 1em;
    color: rgba(221, 238, 238, 0.808);
  }
}
